* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(https://i.ibb.co/CspJs0w/d63006e9eea683cac420b1be611a3eb5.jpg);
    
}