* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: url(https://i.ibb.co/CspJs0w/d63006e9eea683cac420b1be611a3eb5.jpg);
    background-size: cover;
    color: white;
    font-size: 16px;
}

.wrap{
    max-width: 1000px;
    margin: 30vh 13vw;
    display: flex;
    justify-content: center;
}

.widget{
    width: 43%;
    margin: 32px;
}

.widget p{
    display: inline-block;
    line-height: 1em;
}

.fecha{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 5px;
    background: rgba(1, 2, 0, 0.575);
    padding: 20px;
    width: 100%;
    border-radius: 0.5rem;
}

.reloj{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 4em;
    padding: 20px;
    width: 100%;
    background: rgba(1, 2, 0, 0.575);
    border-radius: 0.5rem;
}

.reloj .caja-segundos{
    display: inline-block;
}

.reloj .segundos, .reloj .ampm{
    font-size: 2rem;
    display: block;

}